:root {
    --headerBg: #ccf;
    --font: #333;
    --border: #444;
    --btnBgNeutral: #eee;
    --btnBgNeutralHover: #ddd;
    --btnBgPositive: rgb(175, 231, 167);
    --btnBgPositiveHover: rgb(135, 224, 123);
    --btnBgNegative: rgb(212, 147, 147);
    --btnBgNegativeHover: rgb(206, 116, 116);
    --cardBg: #ccc;
    --bg: #eee;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 300px;
    min-height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerBg);
    padding: 35px;
    border-bottom: 2px solid var(--border);
}

.header h1 {
    font-size: 84px;
}

.btn {
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 20px 10px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.btn.logIn {
    background-color: var(--btnBgNeutral);
    font-size: 24px;
}

.btn.logIn:hover {
    transform: scale(1.2);
    background-color: var(--btnBgNeutralHover);
}

.main {
    flex:1;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.btn.addBook,
.btn.readBook {
    background-color: var(--btnBgPositive);
    font-size: 48px;
}

.btn.addBook:hover,
.btn.readBook:hover {
    background-color: var(--btnBgPositiveHover);
}

.booksContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 35px;
}

.book {
    background-color: var(--cardBg);
    border: 2px solid var(--border);
    border-radius: 5px;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.btn.readBook {
    width: 100%;
    font-size: 24px;
}

.btn.removeBook {
    width: 100%;
    font-size: 24px;
    background-color: var(--btnBgNegative);
}

.btn.btn.removeBook:hover {
    background-color: var(--btnBgNegativeHover);
}

.footer {
    text-align: center;
}

.footer img {
    height: 24px;
    width: auto;
    transition: 0.5s;
}

.footer img:hover {
    height: 24px;
    width: auto;
    transform: scale(1.2) rotate(360deg);
    cursor: pointer;
}

/* pop-up form */

.overlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.bookForm {
    display: none;
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-size: 24px;
    width: 30%;
    height: 90%;
    border-radius: 5px;
    padding: 20px;
    border:2px solid var(--border);
    background-color: var(--bg);
    transition: 0.5s;
}

.popUpAnim {
    animation: drop 0.5s ease forwards;
}

@keyframes drop {
    0% {opacity: 0;}
    70% {top: 55%}
    100% {top: 50%}
}

.textInput {
    font-size: 32px;
    font-weight: bold;
    width: 70%;
    border-radius: 5px;
    border: inherit;
    padding: 10px;
}

.isFinishedInput {
    transform: scale(1.5);
}

.btn.submit {
    background-color: var(--btnBgPositive);
    font-size: 24px;
}

.btn.submit:hover {
    background-color: var(--btnBgPositiveHover);
}
